@charset "utf-8";
@import url('normalize.css');
@import url('base.css');
@import url('style.css');
/*头部*/
.header {
	background-color: #2f87c1;
	height: 50px;
	text-align: center;
	overflow: hidden;
	line-height: 50px;
}
.header h1 {
	font-size: 20px;
	color: #fff;
	margin: 0 80px;
	font-weight: normal
}
.header a {
	margin-top: -50px;
	width: 80px;
	color: #fff;
	font-size: 16px;
	text-decoration: none
}
/*------------------导航------------------------*/
/*导航公性部分*/
.nav {
	text-align: center;
	font-size: 0;
	margin: 0;
	padding: 0;
}
.nav >li {
	display: inline-block;
	font-size: 16px;
	width: 33.3333333%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	ms-box-sizing: border-box;
}
.nav >li >a {
	width: 100%;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	ms-box-sizing: border-box;
}
/*一级导航*/
.nav-one {
	position: relative;
	background-color: #eee;
	border-bottom: 1px solid #bcbcbc;
}
.nav-one > li {
	color: #888888;
	padding: 0 1px;
	width: 50%;
}
.nav-one > li >a {
	color: #888888;
	border-bottom: 2px solid #eee;
}
.nav-one > li >a:hover, .nav-one > li.cur> a {
	color: #000;
	border-bottom: 2px solid #f3a527;
}
/*二级导航*/
.nav-two {
	left: 0;
	width: 100%;
	background-color: #ffffff;
	border-bottom: 1px solid #bcbcbc;
	z-index: 1;
	color: #000;
	height: 41px;
}
.nav-two > li {
	padding: 0 1px;
}
.nav-two > li >a {
	color: #333333;
}
.nav-two > li.cur >a, .nav-two > li >a:hover {
	color: #2f87c1
}
/*三级导航*/
.nav-three {
	display: none;
	font-size: 14px;
	letter-spacing: -1px;
	position: absolute;
	left: 0;
	width: 100%;
	background: #f5f5f5;
	list-style: none;
	padding: 13px 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	ms-box-sizing: border-box;
	border-top: 1px solid #959595
}
.nav-three > li {
	text-align: left;
}
.nav-three > li >a {
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	ms-box-sizing: border-box;
	display: inline-block;
	color: #888;
	text-decoration: none;
}
.nav-three > li >a:hover, .nav-three > li.cur >a {
	background: #fff;
	color: #2f87c1;
}
/*四级导航*/
.nav-four {
	display: none;
	font-size: 14px;
	position: absolute;
	top: 0;
	left: 0;
	width: 60%;
	margin-left: 40%;
	letter-spacing: -1px;
	list-style: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	ms-box-sizing: border-box;
	padding: 10px 0;
	background: #fff;
}
.nav-four li {
	text-align: left;
	padding: 10px;
	color: #333333;
	border-bottom: 1px solid #bcbcbc;
}
.nav-four li:last-of-type {
	border: 0
}
/*——————————————————————日期start——————————————————————————————*/
.calendar {
	padding: 5px;
	overflow: hidden;
	text-align: center;
}
/*月份的上下翻页*/
.calendar-year {
	color: #333333;
	text-align: center;
	font-size: 18px;
	margin: 0;
	padding-top: 5px;
}
.calendar-year a{
}
/*月*/
.calendar-months {
	overflow:hidden;
	position: relative;
	height: 35px;
	margin-left: 15px;
	margin-right: 15px;
}
.calendar-months ul {
	position: absolute;
	width: 100%;	
	overflow-x:auto;
	margin: 0;
	padding: 0;
	font-size: 0;
}
.calendar-months ul li {
	display: inline-block;
	font-size: 16px;
	height:32px;
	line-height:32px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	ms-box-sizing: border-box;
	width: 14.28571428571429%;
}
.calendar-months ul li:hover, .calendar-months ul li.months-cur {
	color: #2f87c1;
}
.calendar-btn{
	text-decoration:none;
	font-size:22px;
	color:#979797;
}
.calendar-btn:hover{
	color:#2f87c1
}
.calendar-btn-l {
	float:left;
	margin-left: -10px;	
	padding: 5px 3px 5px 10px;
}
.calendar-btn-r {
	float:right;
	margin-right: -10px;
	padding: 5px 10px 5px 0px;
}
/*日期中的天*/
.calendar-day {
	overflow: hidden
}
/*星期一到日*/
.week {
	text-align: left;
	display: inline-table;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	ms-box-sizing: border-box;
}
.week li {
	margin-left: -1px;
	font-size: 16px;
	height: 100%;
	display: inline-block;
	width: 14.28571428571429%;
	text-align: center;
	color: #333;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	ms-box-sizing: border-box;
}
.week li:nth-child(7n) {
}
/*加边框*/
.week-b {
	border: 1px solid #bcbcbc;
}
.week-b li {
	border-left: 1px solid #bcbcbc;
}
.week-hd {
	height: 35px;
	line-height: 35px;
}
.week-hd li:first-of-type, 
.week-hd li:last-of-type ,
.week-day li:first-of-type,
.week-day li:last-of-type{
	 
}
/*每一天的样式*/
.week-day {
	border-bottom: 0;
}
.week-day li {
	height: 60px;
	padding: 5px 0;
	vertical-align: middle;
}
.week-day li p {
	margin: 0;
	padding-top: 5px;
	font-size: 14px;
}
.week-day li.duty-full p {/*自己的值班日*/
	cursor: pointer;
	color: red;
}
.week-day li.duty-cur span {/*当前值班日*/
	background-color: #3498db;
	border-radius: 50%;
	padding: 3px;
	display: inline-block;
	width: 25px;
	color: #fff;
	cursor: pointer;
}
.week-day-b li {
	border-bottom: 1px solid #bcbcbc;
}
/*——————————————————————日期end——————————————————————————————*/
.title-full {
	border-top: 1px solid #bcbcbc;
	border-bottom: 1px solid #bcbcbc;
	background-color: #fff;
	padding: 10px;
	font-size: 18px;
}
.duty-box {
	padding: 8px 10px 10px;
}
.duty-box > p {
	margin-top: 8px;
	margin-bottom: 8px;
}
.duty-box > p > span {
	width: 80px;
	text-align: right;
	display: inline-block;
}
.duty-box > p > b {
	font-weight: normal;
	padding-right: 5px;
}
.duty-box >a {
	clear: left;
	display: block;
	margin-top: 10px;
	border: 1px solid #bcbcbc;
	background: #ffffff;
	text-align: center;
	color: #333;
	text-decoration: none;
	padding:5px;
	font-size: 18px;
}
.duty-box >a:hover {
	border: 1px solid #2f87c1;
	color: #2f87c1
}
/*领导带班表的主体部分*/

.list {
	margin: 0 5px;
	padding: 0;
}
.list >li {
	list-style: none;
	border-bottom: 1px solid #bcbcbc;
	padding-top: 10px;
	cursor: pointer
}
.list >li:hover {
	background-color: #fff;
}
/*领导带班表中的列表*/
a.nav-list {
	width: 100%;
	padding: 20px 5px;
	display: block;
	line-height:1.5;
	color: #333333;
	font-size: 20px;
	text-decoration: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	ms-box-sizing: border-box;
}
.arrow {
	float: right;
	line-height:1.5;
	color: #2f87c1
}
a.nav-list:hover {
	color: #2f87c1;
}
.iconC {
	display: inline-block;
	padding-right:10px;
	color: #2f87c1;
}
.list-number {
	display: inline-block;
	background-color: red;
	color: #fff;
	text-align: center;
	width: 24px;
	height:24px;
	line-height:24px;
	font-size:14px;
	border-radius: 50%;
	margin-right: 10px;
	font-style:normal;
}

/*footer*/
.years-box,
.btn-box {	
	font-size: 18px;
	border: 1px solid #bcbcbc;
	background:#fff;
}
.years-box > a,
.btn-box > a {
	display: inline-block;
	padding: 0 10px;
	color: #333333;
	text-decoration: none;
}
.years-box > a:hover,
.years-box > a.cur,
.btn-box > a:hover,
.btn-box > a.cur {
	color: #2f87c1
}
.btn-box > a{
	width:40%;
}
/*带班*/
.list-dl {
	margin:5px;
	padding:10px 5px;
	border-bottom: 1px solid #bcbcbc;
	list-style: none;
}
.list-dl > dt {
	float: left;
	width: 25%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	ms-box-sizing: border-box;
	color: #333;
}
.list-dl > dd {
	margin-left: 25%;
	color: #666
}
.list-dl:nth-of-type(3n){
border-bottom:0
}
/*-----------------------搜索部分-------------------*/
.seacher-box {
	border-bottom: 1px solid #c2c2c2;
	background-color: #d8d8d8;
	padding: 5px;
	font-size: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	ms-box-sizing: border-box;
	position:relative;
}
.select-input {
	text-align: center;
	outline: none;
	color: #2f87c1;
	padding: 10px;
	border: 1px solid #bcbcbc;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	ms-box-sizing: border-box;
}
.seacher-box-ul {
	display: none;
	margin: 0;
	padding: 5px;
	background-color: #fff;
	list-style: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	ms-box-sizing: border-box;
	background-clip: border-box
}
.seacher-box-ul > li {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	ms-box-sizing: border-box;
	margin: 0;
	padding: 15px 5px;
	border-bottom: 1px solid #bcbcbc;
}
.seacher-box-ul > li.cur, .seacher-box-ul > li:hover {
	color: #2f87c1
}
.seacher-input {
	padding: 10px;
	width: 100%;
	border:1px solid #bcbcbc;
	outline:none;
	background-color:#fff;
	text-indent:30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	ms-box-sizing: border-box;
	color: #a2a2a2;
}
.icon-pst{
	position:absolute;
	margin-top:14px;
	margin-left:10px;
	color:#a2a2a2
	
}
/*-----------------------搜索部分end-------------------*/
/*首字母--外框*/
.firstWord-box {
	float: left;
	width: 40px;
	text-align: center;
}
/*首字母-*/
.firstWord-nr {
	border-radius: 50%;
	display: inline-block;
	padding: 5px 10px;
	font-size: 18px;
	color: #2f87c1;
	border: 2px solid #2f87c1;
}
.cont-box {
	margin-left: 55px;
}
.cont-tit {
	margin: 0 110px 0 0;
	font-size: 18px;
	font-weight: normal;
	color: #333333;
	word-break: break-all
}
.cont-time {
	float: right;
	font-size: 16px;
	margin-top: 2px;
	color: #a0a0a0
}
.cont-infr {
	font-size: 16px;
	color: #888888;
}
.cont-infr-one {
	color: #333;
	margin-top: 5px;
}
.list-new {
	position: relative;
}
.list-new:before {
	position: absolute;
	margin-top: 9px;
	margin-left: 50px;
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #2f87c1;
}
/*详情页面*/
.infr-tit {
	margin: 0;
	padding: 10px;
	background-color: #eee;
	border-bottom: 1px solid #bcbcbc;
	font-size: 18px;
	color: #333;
	text-align: center
}
.infr-opt {
	margin: 15px 10px;
}
.infr-nr {
	margin: 10px;
	padding: 0
}
.infr-nr dt {
	color: #333;
	padding: 5px;
}
.infr-nr dd {
	margin: 0;
	padding:10px  5px;
}
.infr-nr-box {
	border: 1px solid #bcbcbc;
	padding:0px 10px 10px 20px;
	position: relative;
	background: -webkit-gradient(linear, center top, center bottom, from(#f7f7f7), to(#ededed));
	background: -moz-linear-gradient(top, #f7f7f7, #ededed);
	height: 260px;
	margin-top: 10px;
	margin-bottom:40px;
}
.angle-style {
	position: absolute;
	right: 10px;	
	display: inline-block;
	margin-top: -1px;
	margin-right: -11px;
	width: 35px;
	height: 35px;
	background: -webkit-gradient(linear, right top, left bottom, from(#fff), to(#e1e1e1));
	background: -moz-linear-gradient(225deg, #fff, #e1e1e1);
	border-left: 1px solid #bcbcbc;
	border-bottom: 1px solid #bcbcbc;
	border-radius: 0 0 0 50%;
	overflow: hidden;
	padding: 0
}
.angle-style-b {
	border-bottom: 50px solid #f9f9f9;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	box-shadow: 1px 1px 0 #bcbcbc;
	width: 0;
	height: 0;
	transform: rotate(45deg);
	position: absolute;
	margin-top: -7px;
	margin-left: 3px;
}
.infr-txt-box{
	margin:30px 16px 10px 7px;
	line-height:2;
	height:220px;
	overflow:auto;
	text-decoration:underline;
	text-height:2.5;
}
/*.title-full-r {
	float:right;
	margin-top:-46px;
	margin-right:10px;
	border:1px solid red;
}*/
.title-full-r {
	float:right;
	margin-top:-48px;
	margin-right:10px;
	padding-bottom:12px;
	padding-top:12px;
}
.title-full-r {
	float:right;
	margin-top:-48px;
	margin-right:10px;
	padding-bottom:12px;
	padding-top:12px;
}
.state{
	display:inline-block;
	width:12px; 
	height:12px;
	border-radius:50%;
	margin-left:10px;
}
.state-dranger{
	background-color:red;
}
.state-success{
	background-color:#090;
}
.state-warn{
	background-color:#F93
}
.state-default{
	background-color:#63C
}
.list-dl-gzap{
	overflow:hidden;
	margin:; padding:5px 0;
}
.list-dl-gzap > dt{
	height:100%;
	width:10%;
	padding:5px 0
}
.list-dl-gzap > dd{
	overflow:hidden;
	border-left:1px solid #bcbcbc;
	margin-left:10%;
	margin-top:0;
	padding:5px;
}
.list-dl-gzap > dd >p{
	margin-bottom:5px;
	padding:0;
	line-height:1.5;
}
.icon-size-gzap{
 	font-size:18px;
	cursor:pointer;
	margin-right:15px;
	padding:5px;
	background-color:#2f87c1;
	color:#fff;
	border-radius:50%
}
.icon-size-gzap:hover{
	color:#2f87c1;
	background-color:#fff;

}
.gzap-eidt-btn{
	float:right;	
	width:22%;
	text-align:right
}
.gzap-eidt-nr{
	margin-right:22%;
}
.gzap-eidt-nr >p{
	margin:0;
	padding-bottom:10px;
	line-height:1.5;
}
.gzap-eidt-nr-only{
	margin-right:0
}
.textarea{
	display:inline-block;
	width:99%;
	border:0;
	background-color:transparent;
	text-decoration:underline;
	height:98%
}
.gzap-set{
	overflow:hidden;
	margin:0;
	padding:0
}
.dt-l{
	width:25%;
	height:100%;
	float:left;
	margin-top:10px;
}
.dd-r{
	padding-left:25%;
	margin-top:0;
	padding:0;
}


/*领导带班-日期导航*/
.calendar-nav{ 
position:relative;
overflow:hidden;
height:40px;
background-color: #eee;
}
.calendar-nav-ul{
	margin:0 45px;
	list-style:none;
	padding:0
}
.calendar-nav-ul li{
	padding:8px;
	text-align: center;
	font-size: 16px;
	list-style:none;
	line-height:1.6;
	color: #333;

}
.calendar-nav-btn-l,
.calendar-nav-btn-r{
position:absolute;
margin-top:-1px;
width:45px;
height:40px;
line-height:40px;
text-decoration:none;
text-align:center;
color:#888
}
.calendar-nav-btn-l:hover,
.calendar-nav-btn-r:hover{
color:#2f87c1;
}
.calendar-nav-btn-r{
right:0
}

/*隔行换色*/
.list-striped >li:nth-child(2n+1){
	background-color: #f4f4f4;
}
.p-infr{ margin-bottom:5px; margin-top:0}
/*带班信息无边框*/
.list-dl-noBor{
 border:0
}
